<section class="cards__container" id="About" data-aos="zoom-in">
      <h2 class="section-title">About me</h2>
      <div class="container">
        <div class="card--primary">
          <div class="icon">
            <i class="fa-solid fa-graduation-cap"></i>
          </div>
          <div class="card__body">
            <h3 class="card__header">Education</h3>
            <p>
              Master in Civil Engineering , Brest State Technical
              University <strong>2016-2021</strong>
            </p>
          </div>
        </div>
        <div class="card--primary">
          <div class="icon">
            <i class="fa-solid fa-code"></i>
          </div>
          <div class="card__body">
            <h3 class="card__header">Skills</h3>
            <p>
              HTML, CSS, JavaScript, React, Responsive UI Design, VS, Basic
              knowledge in Python
            </p>
          </div>
        </div>
        <div class="card--primary">
          <div class="icon">
            <i class="fa-solid fa-earth-americas"></i>
          </div>
          <div class="card__body">
            <h3 class="card__header">languges</h3>
            <p>Arabic, English, Russian</p>
          </div>
        </div>
      </div>
    </section> 