<header>
      <a href="#" class="logo">Hayder</a>
      <nav class="hover-nav">
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="#About" class="nav-link">About me</a>
          </li>
          <li class="nav-item">
            <a href="#Projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span><span class="bar"></span>
        </div>
      </nav>
    </header>