*,*::before,*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
letter-spacing: 5px;
font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number{
    font-size: 150px
    
}
.counter{
    font-size: 100px;
}
.buttons>button{
    padding: 10px;
    margin: 20px;
    background: #fff;
    text-transform: uppercase;
    border: 4px solid black;
    border-radius: 10px;
    cursor: pointer;
}